extends ../layout

block content
  .row
    .col-sm-1
    .col-sm-10
      .page-header
        h3 Reset Password

  .row
    .col-sm-2
    .col-sm-8
      form.form-horizontal(method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group.label-floating
        label.control-label(for='email') Email
        input.form-control(type='email', name='email', id='email', required)
        span.help-block Enter your email address below and we will send you password reset instructions.
      .form-group
        button.btn.btn-raised.btn-primary(type='submit')
          i.fa.fa-key
          | Reset Password
