extends ../layout

block content
  .row
    .col-sm-1
    .col-sm-10
      .page-header
        h3 Reset Password

  .row
    .col-sm-2
    .col-sm-8
      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
          label(for='password') New Password
          input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, required)
        .form-group
          label(for='confirm') Confirm Password
          input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', required)
        .form-group
          button.btn.btn-raised.btn-primary(type='submit')
            i.fa.fa-keyboard-o
            | Change Password
