extends layout

block content
  .row
    .col-sm-1
    .col-sm-10
      .page-header
        h3 Contact Form

  .row
    .col-sm-2
    .col-sm-8
      form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group.label-floating
          label.control-label(for='name') Name
          input.form-control(type='text', name='name', id='name')
        .form-group.label-floating
          label.control-label(for='email') Email
          input.form-control(type='text', name='email', id='email')
        .form-group
          label.control-label(for='message') Body
          textarea.form-control(name='message', id='message', rows='7')
        .form-group
          button.btn.btn-raised.btn-primary(type='submit')
            i.fa.fa-envelope
            | Send
